body{
  text-align: center;
background-image: url("../images/code1.jpg");
  }

h1{
  font-size: 70px;
  font-style: italic;
  color: #bc5a45;
  margin:5px;
}

#form{
  display:inline-block;
  border: 3px solid #c94c4c;
  border-radius: 15px;
  opacity: 0.9;
  background-color: #e4d1d1;
  margin: 40px;
  padding: 30px;
}

label{
  color:#c94c4c;

}
.data{
  width: 200px;
  height: 25px;
  border: 2px solid #eea29a;
  background-color: inherit;
  margin: 10px;
  text-align: justify;
}

.boton{
  width: 150px;
  height: 40px;
  border-bottom: #c94c4c;
  border-radius: 10px;
  background-color: #f7786b;
  margin: 5px;
  color:white;
}

.val-texto{
  color:#77a8a8;
}

footer{
  display:inline-block;
  color: #bc5a45;
  font-size: 50px;
  font-style: italic;
  padding: 30px
}

textarea{
  border: 2px solid #c94c4c;
  color:#bc5a45;
  font-style: italic;
}

#coment{
  display: inline-block;
  margin: 30px;
  padding: 30px;
  border: 1px solid #c94c4c;
  border-spacing: 100px;
  color:#f7786b;
  width: 50%;
  font-size: 30px;
}
